<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="imgDirectoryPath" value ="C:\\Users\\Aamond\\Desktop\\MTG_DeckTester\\MTG_DeckTester\\img\\"/>
    <add key="playerDirectory" value ="C:\\Users\\Aamond\\Desktop\\MTG_DeckTester\\MTG_DeckTester\\players\\"/>
    <add key="deckColorsDirectory" value ="C:\\Users\\Aamond\\Desktop\\MTG_DeckTester\\MTG_DeckTester\\img\\deck_colors\\"/>
    <add key="decksDirectory" value ="C:\\Users\\Aamond\\Desktop\\MTG_DeckTester\\MTG_DeckTester\\decks\\"/>
    <add key="duelsDirectory" value ="C:\\Users\\Aamond\\Desktop\\MTG_DeckTester\\MTG_DeckTester\\duels\\"/>
    <add key="cardsDirectory" value ="C:\\Users\\Aamond\\Desktop\\MTG_DeckTester\\MTG_DeckTester\\cards\\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
